poc14/src/main/mule/poc14.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="poc14-main">
        <http:listener config-ref="poc14-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc14-config" />
		<error-handler ref="global_Error_Handler" />
        
    </flow>
    <flow name="poc14-console">
        <http:listener config-ref="poc14-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="poc14-config" />
		<error-handler ref="global_Error_Handler" />
    </flow>
    <flow name="post:\dwl:application\json:poc14-config">
		<ee:transform doc:name="Transform Message" doc:id="c512c82b-4005-4876-90ff-6eead5c0371f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var a = "20200909080000"
---
a as LocalDateTime{format : "yyyyMMddHHmmss"} as String{format : "yyyy-MM-dd'T'HH:mm:ss"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="20e0e670-333c-45c6-9cbe-5a7bb375dbbd" message="#[payload]"/>
		<error-handler ref="global_Error_Handler" />
    </flow>
</mule>
