poc5/src/main/mule/poc5_proc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="poc5_proc-main">
        <http:listener config-ref="poc5_proc-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc5_proc-config" />
		<error-handler ref="Global_Error_Handler" />
        
    </flow>
    <flow name="poc5_proc-console">
        <http:listener config-ref="poc5_proc-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="poc5_proc-config" />
		<error-handler ref="Global_Error_Handler" />
    </flow>
    <flow name="post:\dw:application\json:poc5_proc-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.flights map ((item, index) -> {
    code : upper(item.code),
    price : if (item.price == 400) "four hundred" else " ",
    departureDate : item.departureDate as Date{format: "yyyy/MM/dd" as String},
    planeType : trim(item.planeType),
    origin : lower(item.origin)
    
    })]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="Global_Error_Handler" />
    </flow>
</mule>
