poc3_sys/target/classes/poc3-sys.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
   
	<flow name="poc3-sys-main">
        <http:listener config-ref="poc3-sys-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc3-sys-config" />
		<error-handler ref="Global_Error_Handler" />
        
    </flow>
    <flow name="poc3-sys-console">
        <http:listener config-ref="poc3-sys-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="poc3-sys-config" />
		<error-handler ref="Global_Error_Handler" />
    </flow>
    <flow name="get:\flights:poc3-sys-config">
		<logger level="INFO" doc:name="Logger" doc:id="ad327bac-45f4-41ad-abe9-e0e25f5d2aee" message='"flow started"'/>
		<http:request method="GET" doc:name="Request" doc:id="a91bdda9-c272-46f2-a87d-454b48d8b9dd" config-ref="HTTP_Request_configuration" path="/essentials/united/flights">
					<http:query-params><![CDATA[#[output application/java
---
{
	destination : attributes.queryParams.destination
}]]]></http:query-params>
				</http:request>
		<ee:transform doc:name="Transform Message" doc:id="8c7078e2-d2fe-41e9-b083-f5906ecc54df">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<error-handler ref="Global_Error_Handler" />
    </flow>
</mule>
