poc9/src/main/mule/poc9.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    
	<flow name="poc9-main">
        <http:listener config-ref="poc9-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc9-config" />
		<error-handler ref="global_Error_Handler" />
        
    </flow>
    <flow name="poc9-console">
        <http:listener config-ref="poc9-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="poc9-config" />
		<error-handler ref="global_Error_Handler" />
    </flow>
    <flow name="post:\csv:application\json:poc9-config">
        <choice doc:name="Choice" doc:id="abf76c50-3918-46c8-9641-741e78e4d1bf" >
			<when expression='#[payload.destination == "SFO"]'>
				<ee:transform doc:name="Transform Message" doc:id="485b00e9-e87c-45ed-9ab0-05e1b63c6be7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="f7cea5be-7269-4e11-a3bb-91889068fcaf" config-ref="File_Config" path="#[&quot;filename&quot; ++ '.' ++ (now() as String {format:&quot;yyyy_mm_dd HH_mm_ss&quot;}) ++ '.csv']"/>
				<logger level="INFO" doc:name="Logger" doc:id="df58db8f-f756-4085-94a8-6e918f2b1db4" message='#["success"]'/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="486b07de-969f-4d0f-9a11-ed6b8f38530a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
"data":payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="9bc33188-66b3-424b-b04a-850ea94f4b0e" config-ref="File_Config" mode="CREATE_NEW" path="#[&quot;filename&quot; ++ '.' ++ (now() as String {format:&quot;yyyy_mm_dd HH_mm_ss&quot;}) ++ '.xml']">
				</file:write>
				<logger level="INFO" doc:name="Logger" doc:id="daf8a098-5914-4f72-8558-bd479faa78b4" message='#["success"]'/>
			</otherwise>
		</choice>
		<error-handler ref="global_Error_Handler" />
    </flow>
</mule>
